<input type="text" placeholder="task" [(ngModel)]="todo.task" name="task">
<input type="text" placeholder="name" [(ngModel)]="todo.name" name="name">
<button (click)="save()">Save</button>

<ul>
    <li *ngFor="let todo of todoList">
        {{todo.task}}, {{todo.name}} <button (click)="delete(todo.id)" >delete</button>
    </li>
</ul>

<input type="text" placeholder="id" [(ngModel)]="searchValue"> <button (click)="search()" >search</button>

<ul>
    <li>
        {{todoFound.task}} {{todoFound.name}} 
    </li>
</ul>